{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/TeamBuilder.css' %}">
    <title>LolBot tracker</title>
</head>

<header> 
    <div class="topnav">
        <a href="../">Home</a>
        <a href="/comps/">Comps</a>
        <a href="/stats/">Stats</a>
        <a href="/tools/">Tools</a>
        <a href="/players/">Players</a>
        <a href="/TeamBuilder/">Team Builder</a>
    </div>            
</header>


<body>
    <br><br><br><center><h1>This is Team Builder page</h1></center>
</body>
</html>