{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/stats.css' %}">
    <title>LolBot tracker</title>
</head>


<header> 
    <div class="topnav">
        <a class ="active"href="../">Home</a>
        <a href="../comps/">Comps</a>
        <a href="">Stats</a>
        <a href="../tools/">Tools</a>
        <a href="../players/">Players</a>
        <a href="../TeamBuilder/">Team Builder</a>
    </div>
</header>

<body>
    <center>
        <br><br><br><h1>Stats Page</h1>
    </center>
    <div class="centered-container">
        <input type="text" id="searchInput" placeholder="Search...">
        <table id ="statsTable">
            <thead class="header">
                <tr>
                    <th onclick="sortTable(0)">Augment</th>
                    <th onclick="sortTable(1)">2-1 Avg</th>
                    <th onclick="sortTable(2)">2-1 Games</th>
                    <th onclick="sortTable(3)">3-2 Avg</th>
                    <th onclick="sortTable(4)">3-2 Games</th>
                    <th onclick="sortTable(5)">4-2 Avg</th>
                    <th onclick="sortTable(6)">4-2 Games</th>
                    <th onclick="sortTable(7)">Avg</th>
                    <th onclick="sortTable(8)">Games</th>
                </tr>
            </thead>
            {% for aug in all_augs %}
            <tr>
                <td>{{aug.name}}</td>
                {% if aug.avg_two_one is None %}
                    <td>-</td>
                    <td>-</td>
                {% else %}
                    <td>{{aug.avg_two_one}}</td>
                    <td>{{aug.games_two_one}}</td>
                {% endif %}
                {% if aug.avg_three_two is None %}
                    <td>-</td>
                    <td>-</td>
                {% else %}
                    <td>{{aug.avg_three_two}}</td>
                    <td>{{aug.games_three_two}}</td>
                {% endif %}
                {% if aug.avg_four_two is None %}
                    <td>-</td>
                    <td>-</td>
                {% else %}
                    <td>{{aug.avg_four_two}}</td>
                    <td>{{aug.games_four_two}}</td>
                {% endif %}
                {% if aug.avg_total is None %}
                    <td>-</td>
                    <td>-</td>
                {% else %}
                    <td>{{aug.avg_total}}</td>
                    <td>{{aug.games_total}}</td>
                {% endif %}
            </tr>
            {% endfor %}
            </table>
        </div>

     <script>
        document.getElementById('searchInput').addEventListener('keyup', function(event) {
          var searchTerm = event.target.value.toLowerCase();
          var tableRows = document.querySelectorAll('#statsTable tbody tr');         
          tableRows.forEach(function(row) {
            var cells = row.getElementsByTagName('td');
            var found = false;
            Array.from(cells).forEach(function(cell) {
              if (cell.textContent.toLowerCase().indexOf(searchTerm) > -1) {
                found = true;
              }
            });
            if (found) {
              row.style.display = ''; 
            } else {
              row.style.display = 'none'; 
            }
          });
        });
        function sortTable(n) {
            var table, rows, switching, i, x, y, xValue, yValue, shouldSwitch;
            table = document.getElementById("statsTable");
            switching = true;

            while (switching) {
                switching = false;
                rows = table.getElementsByTagName("TR");
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    xValue = x.innerHTML.toLowerCase();
                    yValue = y.innerHTML.toLowerCase();

                    if (xValue === '-' || xValue === '') {
                        xValue = 'zzzz';  
                    }
                    if (yValue === '-' || yValue === '') {
                        yValue = 'zzzz';  
                    }
                    if (xValue > yValue) {
                        shouldSwitch= true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }
      </script>
</body>

</html>