html, body {
    scroll-behavior: smooth;
    font-family: "Cursive";
    padding: 0;
    margin: 0;
}
body {
    background-color: #361164;
}
.topnav {
    background-color: #2A0C4E;
    overflow: hidden;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    box-sizing: border-box;
    transition: .15s;
}

.topnav a {
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    transition: .3s;
    margin: 1px;
}

.topnav a:hover, .topnav a:focus {
    color: #2A0C4E;
    background-color: lightgray;

}
.heading {
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 0px;
}

.centered-container {
    border-radius: 4px; 
    overflow: hidden; 
    padding: 6px; 
    max-width: 1000px; 
    margin: auto;
  }
  
  #searchInput {
    padding: 10px;
    margin-bottom: 6px; 
    border: 1px solid #ddd;
    border-radius: 4px; 
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1); 
}
  
table {
    margin: 0 auto;
    width:100%;
    border-collapse: collapse;

}
  
th, td {
    text-align: center;
    border: 1px solid #ddd;
    background-color: lightgray;

}

th{
    background-color: #361164;
    color: lightgrey;
    transition: .3s;
}



th:hover{
    background-color: darkgray;
    color: #361164;
    cursor: pointer;
}
