html, body {
    scroll-behavior: smooth;
    font-family: "Cursive";
    padding: 0;
    margin: 0;

}

.topnav {
    background-color: cornflowerblue;
    overflow: hidden;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center; 
    align-items: center; 
    box-sizing: border-box;
}

.topnav a {
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.topnav a:hover, .topnav a:focus {
    color: lavender;
}

TeamBuilder{
    background-color: blue;
}